@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter";
    src: url("./assets/fonts/static/Inter-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "Inter Bold";
    src: url("./assets/fonts/static/Inter-Bold.ttf") format("truetype");
  }

  @font-face {
    font-family: "Inter Extra Bold";
    src: url("./assets/fonts/static/Inter-ExtraBold.ttf") format("truetype");
  }

  html {
    font-family: "Inter";
    font-size: 15px;
  }
}

body {
  background-color: #fffdfa;
}

.layout {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.border-debug {
  border: 1px solid red;
}
